@page "/comment"
@using mssqlProject.Models;
@using IgniteUI.Blazor.Controls
@inject HttpClient Http

<PageTitle>Komentarze</PageTitle>

<h1>Komentarze</h1>
<p>Strona do przeglądania, sortowania, filtorwania istniejących komentarzy.</p>


@if (m_Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="float: right; margin-right: 150px;" class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @sortPrompt
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" @onclick="() => sortBudgets(1,1)">po Id rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(1,0)">po Id malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(2,1)">po PlaceId rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(2,0)">po PlaceId malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(3,1)">po Content rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(3,0)">po Content malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(4,1)">po Author rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(4,0)">po Author malejąco</a>
            </div>
        </div>
    </div>

    <div style="width: 500px;">
        <button style="margin-left: 30px;" @onclick="ClearFiltr">Zeruj wsyzstkie filtry i sortowanie</button>
    </div>

    <div style="margin-top:50px; width: 500px;">
        Wyszukuj po:<br>
        <input checked="checked" type="radio" name="radioBtn" value="Id" @onclick="@(() => SetSearchSubject("Id"))" /><label style="margin-left:5px;"> Id</label><br>
        <input type="radio" name="radioBtn" value="PlaceId" @onclick="@(() => SetSearchSubject("PlaceId"))" /><label style="margin-left:5px;"> PlaceId</label><br>
        <input type="radio" name="radioBtn" value="Content" @onclick="@(() => SetSearchSubject("Content"))" /><label style="margin-left:5px;"> Content</label><br>
        <input type="radio" name="radioBtn" value="Author" @onclick="@(() => SetSearchSubject("Author"))" /><label style="margin-left:5px;"> Author</label><br>

        Wyszukiwana fraza: <input style="width:300px;" type="text" @bind="@searchInputContent" @oninput="@((EventArgs) => Filter(EventArgs.Value.ToString()))" />
    </div>


    <br />
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PlaceId</th>
                <th>Content</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in m_Data)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.PlaceId</td>
                    <td>@data.Content</td>
                    <td>@data.Author</td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<br />
<br />
<br />
<br />
<br />
@code {
    private List<Comment>? m_Data;
    private List<Comment>? m_DataReference;
    private List<Comment>? m_DataReferenceCopy;

    private string sortPrompt = "Sortowanie";
    private string searchSubject { get; set; } = "Id";
    private string searchWord { get; set; } = "";
    private string searchInputContent { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        m_DataReferenceCopy = await Http.GetFromJsonAsync<List<Comment>>("https://localhost:44304/api/Comment");
        m_DataReference = new List<Comment>(m_DataReferenceCopy);
        m_Data = new List<Comment>(m_DataReferenceCopy);
    }


    private void SetSearchSubject(string val) => searchSubject = val;


    private void ClearFiltr()
    {
        //zerowanie filtrow, sortowania i wyszukiwania
        m_DataReference = new List<Comment>(m_DataReferenceCopy);
        m_Data = new List<Comment>(m_DataReferenceCopy);
        sortPrompt = "Sortowanie";
        searchSubject = "Id";
        searchWord = "";
        searchInputContent = "";
    }


    private void Filter(string word)
    {
        if (m_Data == null)
            return;

        //1.Wyczyszczenie wyswietlanych danych
        m_Data.Clear();

        //2.Sprawdzenie czy konieczne jest pracowanie na ogrignalnym zbiorze
        if (word.Length == 0 || searchWord.Length > word.Length)
        {
            m_DataReference = new List<Comment>(m_DataReferenceCopy);
        }

        //3.W celu dzialania punktu 2 filtrowania trzeba zapisywac poprzednie wartosci
        //  aby mozna bylo stwierdzic czy zakres filtrow nie zwiekszyl sie
        searchWord = word;

        //4.Filtracja wstepna na podstawie zaznaczonych argumentow zakresu
        // dla komentarzy brak filtracji na podstawie wlasciwosci
        m_Data = m_DataReference;

        //5.Filtracja zawierania, dopasuj dane do searchWord jesli jest ono ustawione
        if (!string.IsNullOrEmpty(searchWord))
            Search(searchWord);

        //6.Zapis aktualnego modelu jako model referencyjny
        m_DataReference = new List<Comment>(m_Data);
    }


    private void Search(string word)
    {
        List<Comment> tmp = new List<Comment>();
        switch (searchSubject)
        {
            case "Id":
                foreach (var el in m_Data)
                {
                    if (el.Id.ToString().Contains(word))
                        tmp.Add(el);
                }
                break;
            case "PlaceId":
                foreach (var el in m_Data)
                {
                    if (el.PlaceId.ToString().Contains(word))
                        tmp.Add(el);
                }
                break;
            case "Content":
                foreach (var el in m_Data)
                {
                    if (el.Content.Contains(word))
                        tmp.Add(el);
                }
                break;
            case "Author":
                foreach (var el in m_Data)
                {
                    if (el.Author.Contains(word))
                        tmp.Add(el);
                }
                break;
            default:
                break;
        }
        m_Data = tmp;
    }


    private void sortBudgets(int sortSubject, int order)
    {
        switch (sortSubject)
        {
            case 1:
                if (order == 1)
                {
                    sortPrompt = "po Id rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Id).ToList();
                }
                else
                {
                    sortPrompt = "po Id malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Id).ToList();
                }
                break;
            case 2:
                if (order == 1)
                {
                    sortPrompt = "po PlaceId rosnąco";
                    m_Data = m_Data.OrderBy(x => x.PlaceId).ToList();
                }
                else
                {
                    sortPrompt = "po PlaceId malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.PlaceId).ToList();
                }
                break;
            case 3:
                if (order == 1)
                {
                    sortPrompt = "po Content rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Content).ToList();
                }
                else
                {
                    sortPrompt = "po Content malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Content).ToList();
                }
                break;
            case 4:
                if (order == 1)
                {
                    sortPrompt = "po Author rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Author).ToList();
                }
                else
                {
                    sortPrompt = "po Author malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Author).ToList();
                }
                break;
            default:
                sortPrompt = "po Id rosnąco";
                m_Data = m_Data.OrderBy(x => x.Id).ToList();
                break;
        }
    }
}