@page "/promoter"
@using mssqlProject.Models;
@using IgniteUI.Blazor.Controls
@inject HttpClient Http

<PageTitle>Organizatorzy</PageTitle>

<h1>Organizatorzy</h1>
<p>Strona do przeglądania, sortowania, filtorwania istniejących organizatorów.</p>


@if (m_Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="float: right; margin-right: 150px;" class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @sortPrompt
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" @onclick="() => sortBudgets(1,1)">po Id rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(1,0)">po Id malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(2,1)">po Name rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(2,0)">po Name malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(3,1)">po Surname rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(3,0)">po Surname malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(4,1)">po Email rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(4,0)">po Email malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(5,1)">po PhoneNumber rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(5,0)">po PhoneNumber malejąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(6,1)">po Trips.Count rosnąco</a>
                <a class="dropdown-item" @onclick="() => sortBudgets(6,0)">po Trips.Count malejąco</a>
            </div>
        </div>
    </div>

    <div style="width: 500px;">
        <label class="form-label">Liczba organizowanych wycieczek:</label><br />
        od: <input style="width:100px;" type="text" @bind="@minProperty1" @bind:event="oninput" />
        <span style="margin-left: 20px;">do: </span><input style="width:100px;" type="text" @bind="@maxProperty1" @bind:event="oninput" /><br /><br />

        <br />
        <button @onclick="@(() => Filter(@searchWord))">Filtruj</button>
        <button style="margin-left: 30px;" @onclick="ClearFiltr">Zeruj wsyzstkie filtry i sortowanie</button>
    </div>

    <div style="margin-top:50px; width: 500px;">
        Wyszukuj po:<br>
        <input checked="checked" type="radio" name="radioBtn" value="Id" @onclick="@(() => SetSearchSubject("Id"))" /><label style="margin-left:5px;"> Id</label><br>
        <input type="radio" name="radioBtn" value="Name" @onclick="@(() => SetSearchSubject("Name"))" /><label style="margin-left:5px;"> Name</label><br>
        <input type="radio" name="radioBtn" value="Surname" @onclick="@(() => SetSearchSubject("Surname"))" /><label style="margin-left:5px;"> Surname</label><br>
        <input type="radio" name="radioBtn" value="Email" @onclick="@(() => SetSearchSubject("Email"))" /><label style="margin-left:5px;"> Email</label><br>
        <input type="radio" name="radioBtn" value="PhoneNumber" @onclick="@(() => SetSearchSubject("PhoneNumber"))" /><label style="margin-left:5px;"> PhoneNumber</label><br>

        Wyszukiwana fraza: <input style="width:300px;" type="text" @bind="@searchInputContent" @oninput="@((EventArgs) => Filter(EventArgs.Value.ToString()))" />
    </div>


    <br />
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Liczba zarządzanych wycieczek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in m_Data)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Surname</td>
                    <td>@data.Email</td>
                    <td>@data.PhoneNumber</td>
                    <td>@data.Trips.Count</td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<br />
<br />
<br />
<br />
<br />

@code {
    private List<Promoter>? m_Data;
    private List<Promoter>? m_DataReference;
    private List<Promoter>? m_DataReferenceCopy;

    private string sortPrompt = "Sortowanie";
    private int minProperty1 { get; set; } = 0;
    private int maxProperty1 { get; set; } = 0;
    private int _minProperty1 { get; set; } = -1;
    private int _maxProperty1 { get; set; } = -1;

    private string searchSubject { get; set; } = "Id";
    private string searchWord { get; set; } = "";
    private string searchInputContent { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        m_DataReferenceCopy = await Http.GetFromJsonAsync<List<Promoter>>("https://localhost:44304/api/Promoter");
        m_DataReference = new List<Promoter>(m_DataReferenceCopy);
        m_Data = new List<Promoter>(m_DataReferenceCopy);
        minProperty1 = m_Data.Min(p => p.Trips.Count);
        maxProperty1 = m_Data.Max(p => p.Trips.Count);
    }


    private void SetSearchSubject(string val) => searchSubject = val;


    private void ClearFiltr()
    {
        //zerowanie filtrow, sortowania i wyszukiwania
        m_DataReference = new List<Promoter>(m_DataReferenceCopy);
        m_Data = new List<Promoter>(m_DataReferenceCopy);
        minProperty1 = m_Data.Min(p => p.Trips.Count);
        maxProperty1 = m_Data.Max(p => p.Trips.Count);
        _minProperty1 = -1;
        _maxProperty1 = -1;

        sortPrompt = "Sortowanie";
        searchSubject = "Id";
        searchWord = "";
        searchInputContent = "";
    }


    private void Filter(string word)
    {
        if (m_Data == null)
            return;

        //1.Wyczyszczenie wyswietlanych danych
        m_Data.Clear();

        //2.Sprawdzenie czy konieczne jest pracowanie na ogrignalnym zbiorze
        if (searchWord.Length > word.Length || _minProperty1 > minProperty1
            || _maxProperty1 < maxProperty1)
        {
            m_DataReference = new List<Promoter>(m_DataReferenceCopy);
        }

        //3.W celu dzialania punktu 2 filtrowania trzeba zapisywac poprzednie wartosci
        //  aby mozna bylo stwierdzic czy zakres filtrow nie zwiekszyl sie
        searchWord = word;
        _minProperty1 = minProperty1;
        _maxProperty1 = maxProperty1;

        //4.Filtracja wstepna na podstawie zaznaczonych argumentow zakresu
        foreach (var el in m_DataReference)
        {
            if (el.Trips.Count <= maxProperty1 && el.Trips.Count >= minProperty1)
                m_Data.Add(el);
        }

        //5.Filtracja zawierania, dopasuj dane do searchWord jesli jest ono ustawione
        if (!string.IsNullOrEmpty(searchWord))
            Search(searchWord);

        //6.Zapis aktualnego modelu jako model referencyjny
        m_DataReference = new List<Promoter>(m_Data);
    }


    private void Search(string word)
    {
        List<Promoter> tmp = new List<Promoter>();
        switch (searchSubject)
        {
            case "Id":
                foreach (var el in m_Data)
                {
                    if (el.Id.ToString().Contains(word))
                        tmp.Add(el);
                }
                break;
            case "Name":
                foreach (var el in m_Data)
                {
                    if (el.Name.ToString().Contains(word))
                        tmp.Add(el);
                }
                break;
            case "Surname":
                foreach (var el in m_Data)
                {
                    if (el.Surname.Contains(word))
                        tmp.Add(el);
                }
                break;
            case "Email":
                foreach (var el in m_Data)
                {
                    if (el.Email.Contains(word))
                        tmp.Add(el);
                }
                break;
            case "PhoneNumber":
                foreach (var el in m_Data)
                {
                    if (el.PhoneNumber.Contains(word))
                        tmp.Add(el);
                }
                break;
            default:
                break;
        }
        m_Data = tmp;
    }


    private void sortBudgets(int sortSubject, int order)
    {
        switch (sortSubject)
        {
            case 1:
                if (order == 1)
                {
                    sortPrompt = "po Id rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Id).ToList();
                }
                else
                {
                    sortPrompt = "po Id malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Id).ToList();
                }
                break;
            case 2:
                if (order == 1)
                {
                    sortPrompt = "po Name rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Name).ToList();
                }
                else
                {
                    sortPrompt = "po Name malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Name).ToList();
                }
                break;
            case 3:
                if (order == 1)
                {
                    sortPrompt = "po Surname rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Surname).ToList();
                }
                else
                {
                    sortPrompt = "po Surname malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Surname).ToList();
                }
                break;
            case 4:
                if (order == 1)
                {
                    sortPrompt = "po Email rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Email).ToList();
                }
                else
                {
                    sortPrompt = "po Email malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Email).ToList();
                }
                break;
            case 5:
                if (order == 1)
                {
                    sortPrompt = "po PhoneNumber rosnąco";
                    m_Data = m_Data.OrderBy(x => x.PhoneNumber).ToList();
                }
                else
                {
                    sortPrompt = "po PhoneNumber malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.PhoneNumber).ToList();
                }
                break;
            case 6:
                if (order == 1)
                {
                    sortPrompt = "po Trips.Count rosnąco";
                    m_Data = m_Data.OrderBy(x => x.Trips.Count).ToList();
                }
                else
                {
                    sortPrompt = "po Trips.Count malejąco";
                    m_Data = m_Data.OrderByDescending(x => x.Trips.Count).ToList();
                }
                break;
            default:
                sortPrompt = "po Id rosnąco";
                m_Data = m_Data.OrderBy(x => x.Id).ToList();
                break;
        }
    }
}