@model List<Budget>
@{

    int minSH = Model[0].ShareHoldersCount;
    int maxSH = Model[0].ShareHoldersCount;
    double minBS = Model[0].BudgetSize;
    double maxBS = Model[0].BudgetSize;
    foreach(var el in Model)
    {
        if(el.BudgetSize > minBS)
            minBS = el.BudgetSize;
            
        if(el.BudgetSize < minBS)
            minBS = el.BudgetSize;

        if(el.ShareHoldersCount > maxSH)
            maxSH = el.ShareHoldersCount;
            
        if(el.ShareHoldersCount < minSH)
            minSH = el.ShareHoldersCount;
    }

}


@using (Html.BeginForm())   
{  
    <br><br>
    //Formularz filtrowania:
    <form action="ShowGrid" method="get">
    <table>
        <tr>
            <label for="minSH">Liczba członków składających się do budżetu: Min  </label>
            <input type="text" value="@minSH" name="minSH"/><br><br>
        </tr>
        <tr>
            <label for="maxSH">Liczba członków składających się do budżetu: Max  </label>
            <input type="text" value="@maxSH" name="maxSH"/><br><br>
        </tr>
        <tr>
            <label for="minBS">Rozmiar budżetu: Min  </label>
            <input type="text" value="@minBS" name="minBS"/><br><br>
        </tr>
        <tr>
            <label for="maxBS">Rozmiar budżetu: Max  </label>
            <input type="text" value="@maxBS" name="maxBS"/><br><br>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Filtruj" /></td>
        </tr>
    </table>
</form>

<br><br><br><br>



    <div class="grid">  
        <br />  
        <div style="width:90%; margin:0 auto;">  
            <table id="grid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellpadding="10" cellspacing="0">  
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Id", "ShowGrid", new { sortOrder = "Id", CurrentSort = ViewBag.CurrentSort })</th>
                        <th>@Html.ActionLink("TripId", "ShowGrid", new { sortOrder = "TripId", CurrentSort = ViewBag.CurrentSort })</th>
                        <th>@Html.ActionLink("BankAccunt", "ShowGrid", new { sortOrder = "BankAccunt", CurrentSort = ViewBag.CurrentSort })</th>
                        <th>@Html.ActionLink("ShareHoldersCount", "ShowGrid", new { sortOrder = "ShareHoldersCount", CurrentSort = ViewBag.CurrentSort })</th>
                        <th>@Html.ActionLink("BudgetSize", "ShowGrid", new { sortOrder = "BudgetSize", CurrentSort = ViewBag.CurrentSort })</th>  
                    </tr>  
                </thead>
                 <tbody>
                        @foreach (var asset in Model)
                        {
                            <tr>
                                <td>@asset.Id</td>
                                <td>@asset.TripId</td>
                                <td>@asset.BankAccunt</td> 
                                <td>@asset.ShareHoldersCount</td> 
                                <td>@asset.BudgetSize</td>
                            </tr>
                        }
                 </tbody>
            </table>
        </div>  
    </div>  
}
